@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans&display=swap&subset=cyrillic');
.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}

#first{
	font-family: 'Open Sans', sans-serif; 
}

#second{
	font-family: 'Bebas Neue';
}

#third{
	font-family: 'Lato';
}

#forth{
	font-family: 'Lobster', cursive;
}